<h1>Display your Pirate here</h1>

<p>Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>
<p>Name of Ship1: <%= @ship1.name %></p>
<p>Type of Ship1: <%= @ship1.type %></p>
<p>Booty of Ship1: <%= @ship1.booty %></p>

<h2>Display your second ship here</h2>
<p>Name of Ship2: <%= @ship2.name %></p>
<p>Type of Ship2: <%= @ship2.type %></p>
<p>Booty of Ship2: <%= @ship2.booty %></p>
