<h1>Display your Pirate here</h1>
Pirate name: <%= @pirate.name %>
Pirate weight: <%= @pirate.weight %>
Pirate height: <%= @pirate.height %>

<h2>Display your first ship here</h2>
Ship name: <%= @ships[0].name %>
Ship type: <%= @ships[0].type %>
Ship booty: <%= @ships[0].booty %>

<h2>Display your second ship here</h2>
Ship name: <%= @ships[1].name %>
Ship type: <%= @ships[1].type %>
Ship booty: <%= @ships[1].booty %>